/* line 4, ../../../sass/special/site/index.scss */
#index-login {
  padding: 22px 34px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
}
/* line 7, ../../../sass/special/site/index.scss */
#index-login .form-item {
  width: 230px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 16px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 11, ../../../sass/special/site/index.scss */
#index-login .form-item label {
  background: #fafafa;
  display: inline-block;
  width: 56px;
  text-align: center;
  color: #999;
  border-right: 1px solid #f2f1f0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* line 15, ../../../sass/special/site/index.scss */
#index-login .form-item .label-focus {
  background: #358227;
  color: #fff;
}
/* line 19, ../../../sass/special/site/index.scss */
#index-login .form-item input {
  background: #fff;
  outline: none;
  border: none;
  margin-left: 16px;
  width: 150px;
}
/* line 22, ../../../sass/special/site/index.scss */
#index-login .form-item input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -moz-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}
