/* line 4, ../../../sass/special/site/index.scss */
#index-login {
  padding: 22px 34px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
}
