/* line 8, ../../../sass/special/site/index.scss */
#index-courses ul li h3 {
  font-size: 14px;
  color: #369;
  margin-bottom: 8px;
  display: inline-block;
}
/* line 12, ../../../sass/special/site/index.scss */
#index-courses ul li .index-courses-subject-decorator {
  width: 5px;
  height: 5px;
  background: #c0cdc0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
/* line 17, ../../../sass/special/site/index.scss */
#index-courses ul li table {
  background: #fff;
  -webkit-box-shadow: 0 0 1px #222222;
  -moz-box-shadow: 0 0 1px #222222;
  box-shadow: 0 0 1px #222222;
  border-top: 4px solid  #fff;
  margin-bottom: 34px;
}
/* line 20, ../../../sass/special/site/index.scss */
#index-courses ul li table td {
  width: 120px;
  height: 34px;
  padding: 2px;
  text-align: center;
  border: 1px solid #f2f2f2;
}
/* line 23, ../../../sass/special/site/index.scss */
#index-courses ul li table td a {
  font-size: 12px;
  color: #369;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 34px;
}
/* line 26, ../../../sass/special/site/index.scss */
#index-courses ul li table td a:hover {
  color: white;
}
/* line 35, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(1) a:hover {
  background: #2e7720;
}
/* line 36, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(1) table {
  border-color: #2e7720;
}
/* line 39, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(2) a:hover {
  background: #933;
}
/* line 40, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(2) table {
  border-color: #933;
}
/* line 43, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(3) a:hover {
  background: #369;
}
/* line 44, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(3) table {
  border-color: #369;
}
/* line 47, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(4) a:hover {
  background: #4d5993;
}
/* line 48, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(4) table {
  border-color: #4d5993;
}
/* line 51, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(5) a:hover {
  background: #8f4c9b;
}
/* line 52, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(5) table {
  border-color: #8f4c9b;
}
/* line 55, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(6) a:hover {
  background: #12967e;
}
/* line 56, ../../../sass/special/site/index.scss */
#index-courses ul li:nth-child(6) table {
  border-color: #12967e;
}

/* line 61, ../../../sass/special/site/index.scss */
#index-login {
  padding: 22px 34px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
}
/* line 64, ../../../sass/special/site/index.scss */
#index-login .form-item {
  width: 230px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 16px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 68, ../../../sass/special/site/index.scss */
#index-login .form-item label {
  background: #fafafa;
  display: inline-block;
  width: 56px;
  text-align: center;
  color: #999;
  border-right: 1px solid #f2f1f0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  font-weight: bold;
  font-family: arial;
}
/* line 72, ../../../sass/special/site/index.scss */
#index-login .form-item .label-focus {
  background: #358227;
  color: #fff;
}
/* line 76, ../../../sass/special/site/index.scss */
#index-login .form-item input {
  background: #fff;
  outline: none;
  border: none;
  margin-left: 16px;
  width: 150px;
}
/* line 79, ../../../sass/special/site/index.scss */
#index-login .form-item input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -moz-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}
