//css3 mixin
@import "compass/css3";

#index-courses{

  ul{
    li{
      h3{
        font-size: 14px;color: #369;margin-bottom: 8px;

        .index-courses-subject-decorator{
          width: 5px;height: 5px;background: #c0cdc0;@include border-radius(5px);display: inline-block;margin-left: 10px;
          position: relative;top: -2px;
        }
      }

      table{
        background: #fff;@include box-shadow(0 0 1px #222);border-top: 4px solid  #fff;margin-bottom: 34px;

        td{
          width: 120px;height: 34px;padding: 2px;text-align: center;border: 1px solid #f2f2f2;

          a{
            font-size: 12px;color: #369;display: inline-block;width: 100%;height: 100%;line-height: 34px;

            &:hover{
              color: #fff ;
            }
          }
        }
      }
    }

    li:nth-child(1){
      a:hover{background: #2e7720;}
      table{border-color: #2e7720;}
    }
    li:nth-child(2){
      a:hover{background: #933;}
      table{border-color: #933;}
    }
    li:nth-child(3){
      a:hover{background: #369;}
      table{border-color: #369;}
    }
    li:nth-child(4){
      a:hover{background: #4d5993;}
      table{border-color: #4d5993;}
    }
    li:nth-child(5){
      a:hover{background: #8f4c9b;}
      table{border-color: #8f4c9b;}
    }
    li:nth-child(6){
      a:hover{background: #12967e;}
      table{border-color: #12967e;}
    }
  }
}

#index-login{
  padding: 22px 34px;background: #f3f3f3;@include box-shadow(0 0 1px #888);

  .form-item{
    width: 230px;height: 34px;line-height: 34px;margin-bottom: 16px;background: #fff;position: relative;
    @include box-shadow(0 0 1px #888);@include border-radius(2px);

    label{
      background: #fafafa;display: inline-block;width:56px;text-align: center;color: #999;border-right:1px solid #f2f1f0;
      @include border-radius(2px 0 0 2px);font-weight: bold ;font-family: arial;
    }
    .label-focus{
      background: #358227;color: #fff;
    }

    input{
      background: #fff;outline:none;border:none;margin-left: 16px;width: 150px;

      &:-webkit-autofill {
        @include box-shadow(0 0 0px 1000px white inset);
      }
    }

    //.form-item-clear{
    //  width: 10px;height: 10px;background: url("../../../images/common/form-item-clear.png") no-repeat center;
    //  cursor: pointer;position: absolute;top: 12px;right: 8px;
    //}

  }
}