/* line 17, ../../../sass/partials/_file_upload.scss */
#myModalLabel {
  color: #444;
  font-family: "SimSun";
  font-weight: normal;
  font-size: 16px;
}

/* line 21, ../../../sass/partials/_file_upload.scss */
.fileinput-button {
  position: relative;
  overflow: hidden;
}

/* line 25, ../../../sass/partials/_file_upload.scss */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

/* line 38, ../../../sass/partials/_file_upload.scss */
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}

/* line 41, ../../../sass/partials/_file_upload.scss */
.progress-animated .bar {
  background: url(/images/progressbar.gif) !important;
  filter: none;
}

/* line 45, ../../../sass/partials/_file_upload.scss */
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(/images/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}

/* line 53, ../../../sass/partials/_file_upload.scss */
.fileupload-processing .fileupload-loading {
  display: block;
}

/* line 57, ../../../sass/partials/_file_upload.scss */
.fileupload .progress {
  height: 10px;
}
/* line 60, ../../../sass/partials/_file_upload.scss */
.fileupload .preview img {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  /* line 68, ../../../sass/partials/_file_upload.scss */
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }

  /* line 71, ../../../sass/partials/_file_upload.scss */
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
}
/* line 79, ../../../sass/partials/_file_upload.scss */
.modal-gallery {
  width: auto;
  max-height: none;
  outline: none;
}

/* line 80, ../../../sass/partials/_file_upload.scss */
.modal-gallery.fade.in {
  top: 50%;
}

/* line 81, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-body {
  max-height: none;
}

/* line 82, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-title {
  display: inline-block;
  max-height: 54px;
  overflow: hidden;
}

/* line 83, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-image {
  position: relative;
  margin: auto;
  min-width: 128px;
  min-height: 128px;
  overflow: hidden;
  cursor: pointer;
}

/* line 84, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-image:hover:before, .modal-gallery .modal-image:hover:after {
  content: '\2039';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1;
}

/* line 85, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-image:hover:after {
  content: '\203A';
  left: auto;
  right: 15px;
}

/* line 86, ../../../sass/partials/_file_upload.scss */
.modal-single .modal-image:hover:before, .modal-single .modal-image:hover:after {
  display: none;
}

/* line 87, ../../../sass/partials/_file_upload.scss */
.modal-loading .modal-image {
  background: url(../img/loading.gif) center no-repeat;
}

/* line 88, ../../../sass/partials/_file_upload.scss */
.modal-gallery.fade .modal-image {
  -webkit-transition: width 0.15s ease, height 0.15s ease;
  -moz-transition: width 0.15s ease, height 0.15s ease;
  -ms-transition: width 0.15s ease, height 0.15s ease;
  -o-transition: width 0.15s ease, height 0.15s ease;
  transition: width 0.15s ease, height 0.15s ease;
}

/* line 89, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-image * {
  position: absolute;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 90, ../../../sass/partials/_file_upload.scss */
.modal-gallery.fade .modal-image * {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

/* line 91, ../../../sass/partials/_file_upload.scss */
.modal-gallery .modal-image *.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 92, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
}

/* line 93, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen.modal-loading {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 94, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen .modal-body {
  padding: 0;
}

/* line 95, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen .modal-header, .modal-fullscreen .modal-footer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0;
  z-index: 2000;
}

/* line 96, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen .modal-footer {
  top: auto;
  bottom: 0;
}

/* line 97, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen .close, .modal-fullscreen .modal-title {
  color: #fff;
  text-shadow: 0 0 2px rgba(33, 33, 33, 0.8);
}

/* line 98, ../../../sass/partials/_file_upload.scss */
.modal-fullscreen .modal-header:hover, .modal-fullscreen .modal-footer:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  /* line 99, ../../../sass/partials/_file_upload.scss */
  .modal-gallery .btn span {
    display: none;
  }

  /* line 99, ../../../sass/partials/_file_upload.scss */
  .modal-fullscreen {
    right: 0;
    left: 0;
  }
}
/* line 11, ../../../sass/special/courseDocument/list.scss */
.upload-toolbar .tool_bar_wrap {
  float: right;
}
/* line 15, ../../../sass/special/courseDocument/list.scss */
.upload-toolbar .mysearch_wrap {
  float: right;
  margin-right: 10px;
}
/* line 18, ../../../sass/special/courseDocument/list.scss */
.upload-toolbar form {
  float: right;
}

/* line 25, ../../../sass/special/courseDocument/list.scss */
#subject_docs .file-icon {
  float: left;
}
/* line 27, ../../../sass/special/courseDocument/list.scss */
#subject_docs .file-icon img {
  width: 27px;
  height: 27px;
}
/* line 32, ../../../sass/special/courseDocument/list.scss */
#subject_docs .file-intro {
  margin-left: 37px;
}
/* line 35, ../../../sass/special/courseDocument/list.scss */
#subject_docs .file-intro .title {
  top: 8px;
  position: relative;
}
/* line 40, ../../../sass/special/courseDocument/list.scss */
#subject_docs .file-tool {
  display: inline;
}
/* line 44, ../../../sass/special/courseDocument/list.scss */
#subject_docs a {
  margin-right: 6px;
}
/* line 48, ../../../sass/special/courseDocument/list.scss */
#subject_docs table {
  width: 600px;
}
/* line 51, ../../../sass/special/courseDocument/list.scss */
#subject_docs table thead .name {
  width: 200px;
}

/* line 59, ../../../sass/special/courseDocument/list.scss */
.modal-header h3 {
  color: #444;
  font-family: "SimSun";
  font-weight: normal;
  font-size: 16px;
}
