$body-width: 940px;
$left-width: 600px;
$right-width: 300px;

body{
  position: relative;
  width: 100%;
  min-width: $body-width;
  min-height: 100%;
}

#header{
  background: url("/images/common/header-top-bg.png") repeat-x center;
  height: 40px;

  .logo{
    width: 95px;
    height: 22px;
    position: relative;
    top: 9px;
    display: inline-block;
    background: url("/images/common/header-top-logo.png") no-repeat center;
  }

  .main-nav{
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 32px;
    height: 20px;

    >a{
      margin-left: 12px;

      &:hover{
        color: $classic-green;
      }
    }

    >a,.menu-title,.menu-content>li>a{
      color: #787a78;

    }

    .menu.hover{
      .menu-title{
        height: 34px;
      }
    }
  }

  .user-operation{
    position: relative;
    display: inline-block;
    height: 20px;

    a{
      margin-left: 8px;
    }

    .menu{
      top: 8px;

      .menu-content{
        width: 100%;
        min-width: 0;

        li{
          padding-left: 10px;
        }
      }

      &.hover{
        .menu-title{
          height: 32px;
        }
      }
    }

    .notlogin{
      line-height: 40px;
    }
  }
}

#content{
  min-height: 500px;margin-top: 50px;

  #content-left{
    width: 600px;
  }

  #content-right{
    width: 300px;
  }
}

#footer{
  height: 36px;
  line-height: 36px;
  position: relative;
  bottom: 20px;
  border:{
    top: 1px solid #e1e1e1;
    bottom: 1px solid #e1e1e1;
  }
  margin-top: 40px;

  #footer-left{
    color: #999;
  }

  #footer-right{
    li{
      display: inline;
      margin-left: 34px;
    }
  }
}


#search-wrapper{
  height: 60px;
  background: #edede7;
  @include box-shadow(0 1px 3px #aaa);
  padding-top: 10px;
}



