//向下箭头
.arrow{
  width: 6px;height: 3px;display: inline-block;margin-left: 5px;margin-bottom: 2px;
  background: url('../../images/common/header-top-nav-arrow.png') no-repeat center;
}
//button
.btn{
  background: #358227;padding: 6px 24px;cursor: pointer;color: #cfe6cd;font-size: 16px;font-family: "Microsoft Yahei";
  text-align: center;@include text-shadow(0 1px 1px rgba(0,0,0,0.7));
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255,255,255,0.3) inset);@include border-radius(3px);
  border: 1px solid #276b1a;border-color:{bottom: #2e7620;top: #1f5e13;}

  &:active{
    background: #286d1a;
  }
}

.btn1{
  background: #fdf1ed;padding: 4px 14px;color: #b3705b;cursor: pointer;border: 1px solid #e8b5a5;
}

//面包屑
.crumb{
  li{
    position: relative;display: inline;

    .crumb-li-hover{
      position: absolute;width: 86px;height: 34px;background: #fff;top: -10px;left: -16px;z-index: 1;
      @include box-shadow(-1px 0 1px -1px #aaa,0 -1px 1px -1px #aaa,1px 0 1px -1px #aaa);
    }

    a{
      position:relative;z-index: 2;
    }

    .crumb-li-subnav{
      position: absolute;width:120px;background: #fff;left: -16px;top: 24px;@include box-shadow(0 0 1px #aaa);

      li{
        margin: 2px;padding-left: 12px;display: block;cursor: pointer;height: 28px;line-height: 28px;

        a{
          color: #787a78;
        }

        &:hover{
          background: #e9e9e9;
        }

      }

      .crumb-li-subnav-footer{
        height: 4px;background: #e9e9e9;position: relative;width: 100%;
      }
    }
  }

  .crumb-next{
    margin:{left:14px;right: 16px;}display: inline;color: #aaa;
  }
}

//slide
.slide-prompt{
  li{
    display: inline-block;width: 25px;height: 5px;background: #c0cdc0;margin-right: 2px;

    &.current{
      background: #828282;
    }
  }
}

.slide{
  margin-bottom: 50px;height: 148px;

  .slide-prev{
    float: left;width: 25px;height: 47px;margin-top: 50px;cursor: pointer;
    background: url("../../images/common/slide-prev-on.png") no-repeat center;

    &.off{
      background: url("../../images/common/slide-prev-off.png") no-repeat center;
    }
  }

  .slide-next{
    float: right;width: 25px;height: 47px;margin-top: 50px;cursor: pointer;
    background:  url("../../images/common/slide-next-on.png") no-repeat center;

    &.off{
      background: url("../../images/common/slide-next-off.png") no-repeat center;
    }
  }

  .slide-main{
      width: 512px;margin:0 auto;height: 100%;position: relative;overflow: hidden;

    .slide-ul-wrapper{
      display: inline-block;position: absolute;width: 5000px;left: 0px;

      ul{
        display: inline-block;

        li{
          display: inline-block;cursor: pointer;position: relative;

          img{
            width: 113px;height: 148px;margin-right: 6px;margin-left: 6px;
          }

          .slide-popup{
            width: 216px;height: 106px;position: absolute;background: rgba(252,252,252,0.9);@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
            left: 128px;top: 1px;z-index: 100;padding: 12px;

            .slide-popup-left{
              width: 6px;height: 18px;background: url("../../images/common/slide-popup-left.png") no-repeat center;
              position: absolute;left: -6px;top: 20px;
            }

            h6{
              color: #369;font-size: 14px;margin-bottom: 7px;
            }

            p{
              color: #787a78;line-height: 19px;
            }

            &.slide-popup-toLeft{
              left: -240px;

              .slide-popup-left{
                background: url("../../images/common/slide-popup-right.png") no-repeat center;left: 240px;
              }
            }
          }
        }
      }
    }
  }
}