//css3 mixin
@import "compass/css3";

#search-container {
  margin-bottom: 64px;

  #search-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;

    h3 {
      color: #369;
      font-size: 14px;
    }

    span {
      color: #369;
    }
  }

  .item {
    padding: 24px 0;
    border-bottom: 1px solid #e5e5e5;

    img {
      width: 112px;
      height: 170px;
      margin-bottom: 8px;
      margin-right: 18px;
    }

    .item-detail {
      margin-top: 10px;
      overflow-y: auto;
      height: 165px;

      h2 {
        margin-bottom: 12px;
      }

      p {
        margin-bottom: 8px;

        .star {
          width: 100px;
          height: 17px;
          position: relative;
          top: 2px;
          display: inline-block;

          .star-off {
            background: url("/images/common/star-off.png") no-repeat center;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
          }

          .star-on {
            background: url("/images/common/star-on.png") no-repeat;
            width: 0%;
            height: 100%;
            display: inline-block;
            position: absolute;
          }
        }

        .item-detail-left {
          color: #999;
          margin-right: 7px;
        }

        .item-detail-right {
          color: #444;
        }

        &.stars {
          margin-bottom: 12px;
        }
      }
    }
  }
}

#search-catalog {
  & > li {
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 15px 0 15px 0;
    padding-right: 10px;
  }
  .search-catalog-tag {
    font-size: 12px;
    cursor: pointer;
    line-height: 17px;

    position: relative;
    margin-bottom: 5px;
  }
  .search-catalog-all {
    font-weight: bold;
  }
}